name: Lint Codebase

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  eslint:
    name: Lint JavaScript/TypeScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci --legacy-peer-deps

      - name: Lint
        id: npm-lint
        run: npm run lint

  actionlint:
    name: Lint GitHub Actions
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Run actionlint
        id: actionlint
        uses: raven-actions/actionlint@v2
        with:
          matcher: true

  yamllint:
    name: Lint YAML
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Run yamllint
        id: yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yaml-lint.yml
          file_or_dir: .
          strict: true
